$border-color: #f0f0f0;

.logo {
    height: 32px;
    background: #e6f7ff;
    margin: 16px;
    text-align: center;
    vertical-align: center;
    line-height: 32px;
    color: #1890ff;
    font-weight: 700;
}

.header {
    background: #fff;
    padding-left: 16px;
    border-bottom: 1px solid $border-color;
}

.title {
    font-size: 24px;
}

.main {
    background-color: white;
}

.sider {
    border-right: 1px solid $border-color;
}

.menu {
    border-right: 0;
}

.footer {
    text-align: center;
    border-top: 1px solid $border-color;
    background-color: white;
}